
{% extends 'documents/base.html' %}
{% load static %}

{% block custom_css %}
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300, 400,700" rel="stylesheet">
<link rel="stylesheet" href="{% static 'intranet/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
<link rel="stylesheet" href="{% static 'intranet/plugins/toastr/build/toastr.css' %}">
<link rel="stylesheet" href="intranet/editor/dist/css/dist/css/wysihtml5.css" type="text/css" />
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="{% static 'intranet/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'intranet/plugins/timepicker/bootstrap-timepicker.min.css' %}">
  <!-- Select2 -->
  <style type="text/css">

  .form-control{
    border-radius: 15px;
  }


  .dropdown:hover .inner {
  display: block;
  background-color: #fff;
  }

  .dropdown-toggle:hover{
    display: block;
    background-color: #fff;
  }


  .text{
    color: #000;
  }

  .bs-searchbox{
    background-color: #fff;
  }

  .open:hover{
    background-color: #fff;
  }



  </style>
{% endblock %}


{% block content %}
{% include 'documents/menu/top_menu.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <section class="">
    <div class="row">
    <div class="panel" style="margin-left:20px; margin-right:20px; margin-top:50px;">
      <div class="panel-body">
        <div class="col-md-2"></div>
        <div class="col-md-8">

          <form method="post" action="{% url 'website:edit_event' event.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
              <legend class="text-center">Add an Event</legend>

                 <div class="form-group has-feedback">
                   <label>Event Title</label>
                   <input type="text" class="form-control" value="{{event.event_title}}" name="event_title" placeholder="Event title" style="border: 1px solid #90caf9; border-radius: 10px;" required>
                 </div>

                 <div class="form-group">
                   <label for="blog_message">About Event</label>
                    <textarea class="textarea round-input" name="event_message" placeholder="About Event..."
                        style="width: 100%; height: 300px; font-size: 14px; line-height: 18px; border: 1px solid #90caf9; border-radius: 10px; padding:10px;">
                        {{event.event_message}}
                      </textarea>
                </div>
                <div class="form-group has-feedback">
                  <label>Event Location</label>
                  <input type="text" class="form-control" value="{{event.event_location}}" name="event_location" placeholder="Event Location" style="border: 1px solid #90caf9; border-radius: 10px;" required>
                </div>
                <div class="form-group has-feedback">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Event Start Date</label>
                      <input type="text" class="form-control" value="{{event.event_start_date|date:'Y-m-d'}}" name="event_start_date" id="event_start_date" style="border: 1px solid #90caf9; border-radius: 10px;">
                    </div>
                    <div class="col-md-6">
                      <label>Event Start Time</label>
                      <input type="text" class="form-control timepicker" value="{{event.event_start_time}}" name="event_start_time" id="event_start_time" style="border: 1px solid #90caf9; border-radius: 10px;">
                    </div>
                  </div>
                </div>
                <div class="form-group has-feedback">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Event End Date</label>
                      <input type="text" class="form-control " value="{{event.event_end_date|date:'Y-m-d'}}" name="event_end_date" id="event_end_date" style="border: 1px solid #90caf9; border-radius: 10px;">
                    </div>
                    <div class="col-md-6">
                      <label>Event End Time</label>
                      <input type="text" class="form-control timepicker" value="{{event.event_end_time}}" name="event_end_time" id="event_end_time" style="border: 1px solid #90caf9; border-radius: 10px;">
                    </div>
                  </div>
                </div>
            </fieldset>

            <fieldset>
              <legend></legend>
              <div class="col-md-4"></div>
              <div class="col-md-4">
              <div class="form-group has-feedback">
                  <button type="submit" class="btn btn-success btn-block btn-flat">Update Post</button>
              </div>
              </div>
              <div class="col-md-4"></div>
            </fieldset>
          </form>

        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

 </div>
  </section>
</div>

<!-- /.content-wrapper -->
{% include 'documents/menu/side_menu.html' %}
{% endblock %}


{% block custom_script %}
<!-- Bootstrap WYSIHTML5 -->
<script src="{% static 'intranet/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
<script src="{% static 'intranet/editor/dist/js/jquery.Jcrop.js' %}"></script>
<script src="{% static 'intranet/editor/dist/js/wysihtml5-0.3.0.js' %}"></script>
<script src="{% static 'intranet/editor/dist/js/wysihtml5-enhanced.js' %}"></script>
<!-- bootstrap datepicker -->
<script src="{% static 'intranet/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<!-- bootstrap time picker -->
<script src="{% static 'intranet/plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
<script type="text/javascript">
$('.textarea').wysiHTML5N();
$('#event_start_date').datepicker({
      autoclose: true,
      format: "yyyy-mm-dd",
    })
$('#event_end_date').datepicker({
          autoclose: true,
          format: "yyyy-mm-dd",
        })
$('#event_start_time').timepicker({
              showInputs: false,
              showMeridian: true,
})

$('#event_end_time').timepicker({
              showInputs: false,
              showMeridian: true,
})
</script>
<script src="{% static 'intranet/plugins/toastr/toastr.js' %}"></script>

{% if messages %}
<script type="text/javascript">
{% for message in messages %}
toastr.success( "{{message}}" );
{% endfor %}
</script>
{% endif %}

{% endblock %}
